<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xsaf1207.sys.mapper.EsClassMapper">
  <resultMap id="BaseResultMap" type="cn.xsaf1207.sys.domain.EsClass">
    <id column="cs_id" jdbcType="INTEGER" property="csId" />
    <result column="cs_name" jdbcType="VARCHAR" property="csName" />
  </resultMap>
  <sql id="Base_Column_List">
    cs_id, cs_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from es_class
    where cs_id = #{csId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from es_class
    where cs_id = #{csId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xsaf1207.sys.domain.EsClass">
    insert into es_class (cs_id, cs_name)
    values (#{csId,jdbcType=INTEGER}, #{csName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xsaf1207.sys.domain.EsClass">
    insert into es_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="csId != null">
        cs_id,
      </if>
      <if test="csName != null">
        cs_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="csId != null">
        #{csId,jdbcType=INTEGER},
      </if>
      <if test="csName != null">
        #{csName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xsaf1207.sys.domain.EsClass">
    update es_class
    <set>
      <if test="csName != null">
        cs_name = #{csName,jdbcType=VARCHAR},
      </if>
    </set>
    where cs_id = #{csId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xsaf1207.sys.domain.EsClass">
    update es_class
    set cs_name = #{csName,jdbcType=VARCHAR}
    where cs_id = #{csId,jdbcType=INTEGER}
  </update>

<!--  根据班级名查询班级id-->
  <select id="selectCsnameByCsid" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    cs_id
    from
    es_class
    where cs_name = #{csName,jdbcType=VARCHAR}
  </select>

<!--  查询所有班级-->
  <select id="selectAllClass"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from es_class
    <where>
      <if test="csId != null and csId !=''">
        and cs_id like concat("%",#{csId},"%")
      </if>
      <if test="csName != null and csName !=''">
        and cs_name like concat("%",#{csName},"%")
      </if>
    </where>
  </select>
</mapper>